

@font-face {
    font-family:pacifico ;
    src: url(../assets/Pacifico-Regular.ttf);
}

.catagorycard{
    width: 250px;
  
    height:250px ;
}
.catagoryimg:hover{
   border: 3px solid black;

}
    .catagoryimg{
        margin: 0 auto;
    width: 90%;
   
    height:90% ;

}
.catagorycardmain{
   
    margin: 10px;
}
.cattext{
    background-color: black;
    color: white;
    width:90% ;
    padding: 5px;
    
}
.headertext{
    color:white;
    padding-top:10px;
}
.abouttext{
color:white;
/* background-color: yellow; */
width: 70%;
margin: 0 auto;
font-size: 25px;
padding: 15px;
text-align: center;

}
.aboutheading{
    text-align: center;
    color: white;
    font-family: pacifico;
    word-spacing: 5px;
    letter-spacing: 3px;
}
.contactmanagerbtn{
    width: 60%;
    padding: 5px;
    background: linear-gradient(90deg, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    margin-bottom: 10px;
    border: none;
}
.skcinstalink{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
}
.skcinstalink:hover{
    color: black;
}
.counterbtn{
    background-color: #000000;
    width: 30px;
    border: none;
    color: white;
    border-radius: 5px;
    /* height: 20px; */
}

@media only screen and (max-width: 600px) {
    .catagorycard{
        width: 230px;
        
        height:230px ;
    }
    .abouttext{
        font-size: 20px;
        width: 80%;

    }
}
@media only screen and (max-width: 400px) {
    .catagorycard{
        width: 150px;
        
        height:150px ;
    }
    .abouttext{
        width: 90%;
        font-size: 15px;
    
    }
    .headertext{
        font-size: 12px;
    }
    .skcinstalink{
        font-size: 20px;
    }
}